* {
    margin: 0;
    padding: 0;
    box-sizing: boorder-box;
    font-family: "inter" , sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: center;

    border: 1px solid crimson;
    
}

div {
    background-color: rgb(1, 1, 1);
    width: 384px;
    padding: 40px;
    text-align: center;
}

h1, p, a{
color: aliceblue;
}

div img {
border-radius: 50%;
margin-bottom: 24px;
}

p {
  line-height: 5px;
}

div h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 4px;
}

div strong{
    color: chartreuse;
    font-size: 14px;
    line-height: 21px;
}

div p {
    margin-block: 24px;
    font-size: 14px;
    line-height: 21px;
}

div a + a {
 margin-top: 16px;
}

div a {
   display: block;
   text-decoration: none;
   background-color: black;
   padding: 12px;
   border-radius: 8px;
   font-weight: 780; 
}

div a :hover{
    background-color: chartreuse;
    color: black;
    transition: 0.7;
}